appdirs==1.4.4
asgiref==3.8.1
atomicwrites==1.4.0
cloudinary==1.41.0
dj-database-url==2.2.0
Django==5.1.1
django-bootstrap4==24.4
django-cloudinary-storage==0.3.0
django-crispy-forms==2.3
django-extensions==3.2.3
gunicorn==23.0.0
jsonpointer==2.1
protobuf==3.20.3
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyasn1-modules==0.2.8
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
setuptools==69.5.1
sqlparse==0.5.1
wheel==0.43.0
whitenoise==6.7.0
python-dotenv

